/* Form Styles */

.form {
  text-align: center;
}

.form_languages {
  display: flex;
  justify-content: center;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.btn-secondary:hover {
  background-color: white;
  color: #6c757d;
}

.action {
  font-size: 20px;
  font-weight: bold;
}